:root {
  --cor-fundo: rgba(231, 139, 174, 1);
  --cor-labels: rgba(255, 0, 97, 0.9);
  --cor-bordas: rgba(122, 164, 177, 1);
  --cor-ondas: rgba(234, 170, 197, 1);
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #1e1e1e;

}


.wave {
  position: absolute;
  z-index: 1;

}

.wave-top {
  top: 0;

}

.wave-bottom {
  bottom: 0;
}

.wave-border {
  z-index: 0;
  border-radius: 10px;
}
.container-info, .foto {
  z-index: 2;
}

.titulo {
  font-size: 15px;
  position: absolute;
  align-self: flex-start;
}

.container-identidade {
  height: 254px;
  width: 556px;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--cor-labels);
  box-sizing: border-box;

}

.fundo-verde {
  height: 228px;
  width: 519px;
  background-color: var(--cor-bordas);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.container-conteudo {
  height: 203px;
  width: 498px;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;


}


.foto {
  margin-right: 20px;
}


.container-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 13px;

}

.pata-assinatura {
  position: absolute;
  bottom: 10px;
  z-index: 2;

}
.assinatura {
  border-top: 2px solid var(--cor-labels);
  position: absolute;
  align-self: flex-end;
  padding: 5px 10px 0 10px;
  font-size: 12px;
}

.esquerda, .direita {
  display: flex;
  flex-direction: column;

}

/*
.logo {

  width: 200px;
  position: absolute;
  left: 0;
}

*/
.logo-peq {
  width: 100px;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
